<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/signup.js}" defer></script>
</head>
<body>
    <h1>Signup</h1>
<form id="signupForm">
        <input type="text" id="username" placeholder="Tên đăng nhập" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Mật khẩu" required>
        <input type="password" id="passwordcon" placeholder="Xác nhận mật khẩu" required>
        
        <button type="submit" id="submit">Đăng ký</button>
    </form>
</body>
</html>
